.rooms {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  gap: 15px;
}

.room {
  width: 140px;
  height: 140px;
  border: solid 1px #000;
  border-radius: 10px;
  padding: 9px;
  user-select: none;
  overflow-y: hidden;
}

.room > div {
  width: 120px;
  display: flex;
  flex-wrap: wrap;
  gap: 0;
}

.room > div:not(:has(svg)) {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.room svg {
  width: 20px;
  height: 20px;
}

.create-room {
  width: 140px;
  height: 140px;
  padding: 40px;
  user-select: none;
}

.create-room > div {
  width: 61px;
  height: 61px;
  border: solid 1px #000;
  border-radius: 30px;
  padding: 0;
}

.counter-box {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 64px;
  display: table;
}

.counter-box > div {
  display: table-cell;
  text-align: center;
  width: 100px;
  height: 64px;
  position: relative;
  user-select: none;
}

.counter-box > div > svg {
  position: absolute;
  top: 0;
  left: 18px;
}

#dice-count {
  font-size: 48px;
  text-align: center;
  width: 98px;
  height: 64px;
}

#roll-history-box {
  margin-top: 1em;
  border: solid 1px #000;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  height: 128px;
}

#roll-history-box > div {
  width: 100%;
  height: calc(128px - 16px);
  overflow-x: auto;
  overflow-y: scroll;
}

#roll-history-box img {
  margin-left: 2px;
  vertical-align: bottom;
  width: 24px;
  height: 24px;
}

#dice-box {
  margin-top: 1em;
  width: 480px;
  overflow-y: visible;
  user-select: none;
}

#dice-box > div {
  float: left;
  padding: 2px;
  width: 96px;
  height: 96px;
}

#dice-box > div > img {
  width: calc(96px - 4px);
  height: calc(96px - 4px);
}

#roll-button {
  margin-top: 16px;
  border: solid 1px #000;
  border-radius: 10px;
  width: 480px;
  height: 64px;
  text-align: center;
  vertical-align: middle;
  font-size: 40px;
}

#roll-button:not(:disabled) {
  background-color: orange;
}

#roll-button:disabled {
  background-color: #ffccaa;
}
